<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-5/6 mx-auto">
  
        <div class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">  
          <div class="mr-10">
            <label for="hocHam" class="leading-7 text-sm text-gray-600">HỌC HÀM</label>
            <select [(ngModel)]="hocHamSelected" name="hocHam" class="w-full border rounded py-2 px-4 text-lg" (change)="onHocHamChange($event)">
              <option value="">HỌC HÀM</option>
              <option *ngFor="let hocHam of ListHocHam" [value]="hocHam">{{ hocHam }}</option>
            </select>
          </div>
  
          <div class="mr-10">
            <label for="hocVi" class="leading-7 text-sm text-gray-600">HỌC VỊ</label>
            <select [(ngModel)]="hocViSelected" name="hocVi" class="w-full border rounded py-2 px-4 text-lg" (change)="onHocViChange($event)">
              <option value="">HỌC VỊ</option>
              <option *ngFor="let hocVi of ListHocVi" [value]="hocVi.maHocVi">{{ hocVi.tenHocVi }}</option>
            </select>
          </div>

          <div>
            <label for="ChuyenKhoa" class="leading-7 text-sm text-gray-600">CHUYÊN KHOA</label>
            <select [(ngModel)]="chuyenKhoaSelected" name="chuyenKhoa" class="w-full border rounded py-2 px-4 text-lg" (change)="onChuyenKhoaChange($event)">
              <option value="">CHUYÊN KHOA</option>
              <option *ngFor="let chuyenKhoa of ListChuyenKhoa" [value]="chuyenKhoa.maChuyenKhoa">{{ chuyenKhoa.tenChuyenKhoa }}</option>
            </select>
          </div>
  
        </div>

        <div *ngIf="ListBacSi.length === 0 && originalListBacSi.length > 0">
          <p class="text-center text-gray-500 mt-10">Chưa có thông tin bác sĩ, vui lòng đặt lại bộ lọc.</p>
        </div>
  
        <div *ngIf="ListBacSi.length > 0">
          <div *ngFor="let item of ListBacSi; let i = index">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 mr-5 flex-shrink-0 flex flex-col">
                <img alt="content" class="object-cover object-center h-full w-full crop-image" src="assets/images/bacsi/{{item.anhDaiDien}}" >
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-4">{{ item.hoTen.toUpperCase() }}</h2>
                <p class="leading-relaxed text-gray-500">{{ item.chuyenKhoa.tenChuyenKhoa }}</p>
                <p class="leading-relaxed mt-4">{{ item.gioiThieu.substring(0, 200) }}...</p>
                <button routerLink="/ctbacsi/{{ item.maBacSi }}" class="inline-flex text-white backgroundcolor ml-4 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded mt-10">XEM CHI TIẾT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  