<div class="login-container">
  <h3 class="text-center">Đăng nhập</h3>
  <hr>

  <div class="mb-3">
    <label for="login" class="form-label">Tên đăng nhập</label>
    <input type="email" class="form-control" id="login" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mật khẩu</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  
  <button type="button" class="btn btn-primary">
    <i class="fas fa-sign-in-alt"></i>&nbsp;Đăng nhập
  </button>
  
  <div class="text-center mt-3">
    Bạn chưa có tài khoản?&nbsp;
    <a href="/register" class="btn btn-link">Đăng ký</a>
  </div>
</div>