<section class="container text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-5/6 mx-auto">
      <div class="grid">
        <div class="form-group">
          <label for="chucVu">CHUYÊN KHOA</label>
          <select id="chucVu" name="chucVu">
            <option value="">CHUYÊN KHOA</option>
            <option value="Chức vụ 1">Chức vụ 1</option>
            <option value="Chức vụ 2">Chức vụ 2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="hocHam">HỌC HÀM</label>
          <select id="hocHam" name="hocHam">
            <option value="">HỌC HÀM</option>
            <option value="Học hàm 1">Học hàm 1</option>
            <option value="Học hàm 2">Học hàm 2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="hocVi">HỌC VỊ</label>
          <select id="hocVi" name="hocVi">
            <option value="">HỌC VỊ</option>
            <option value="HocVi1">Học vị 1</option>
            <option value="HocVi2">Học vị 2</option>
          </select>
        </div>
      </div>

      <div *ngIf="ListBacSi.length === 0 && originalListBacSi.length > 0">
        <p class="text-center text-gray-500 mt-10">Chưa có thông tin bác sĩ, vui lòng đặt lại bộ lọc.</p>
      </div>

      <div *ngIf="ListBacSi.length > 0">
        <div *ngFor="let item of ListBacSi; let i = index">
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 mr-5 flex-shrink-0 flex flex-col">
              <img alt="content" class="object-cover object-center h-full w-full crop-image" src="assets/images/bacsi{{item.hinhAnh}}" >
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-gray-900 title-font mb-4">{{ getDanhHieuByMaNhanVien(item.maNhanVien) }} {{ item.tenNhanVien.toUpperCase() }}</h2>
              <p class="leading-relaxed text-gray-500">{{ item.chucVu }}</p>
              <p class="leading-relaxed mt-4">{{ item.gioiThieu.substring(0, 200) }}...</p>
              <button routerLink="/ctbacsi/{{ item.maNhanVien }}" class="inline-flex text-white backgroundcolor ml-4 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded mt-10">XEM CHI TIẾT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
